@import "../../../assets/scss/abstract/variables";

.title {
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px !important;
}

.mat-form-field {
  width: 100%;
}

.help {
  font-size: 14px;
  color: #3f51b5;
  font-weight: 500;
}



